


#presentation-page{
    text-align: center;
    
}

#presentation-page > img{


    width: 250px;
    height: 260px;
    border-radius: 100%;




}

#presentation-page > img:hover {
    transition:all .2s ease-in-out;
    filter: saturate(250%);
}

#dolar-blue-precio{
    text-align: center;
    
}

#dolar-blue-market{
    text-align: center;
    display: flex;
    justify-content: center;
}

#dolar-blue-market > div{
    margin: 2%;
}

#anim_net{
    width: 100vw;
    height: 100vh;
    padding:0;
    margin:0;
    background-color:rgb(255, 255, 255); /*Cover use when the animation doesn't work. ex:mobile*/
    overflow:hidden; 
  }
  body{
    margin:0;
  }
  
  